<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	
	<title>Eclipse Dirigible - Git</title>
	
	<script src="../../ide/ui/message-hub.js"></script>
	
	<link href="/services/v3/web/resources/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- jQuery -->
	<script src="/services/v3/web/resources/jquery/2.0.3/jquery.min.js"></script>
	
	<!-- AngularJS -->
	<script src="/services/v3/web/resources/angular/1.4.7/angular.min.js"></script>
	<script src="/services/v3/web/resources/angular/1.4.7/angular-resource.min.js"></script>
	<script src="/services/v3/web/resources/angular/1.4.7/angular-animate.min.js"></script>
	<script src="/services/v3/web/resources/angular/1.4.7/angular-sanitize.min.js"></script>
	
	<!-- jsTree -->
	<link href="/services/v3/core/theme/jstree.css" rel="stylesheet">
	<script src="/services/v3/web/resources/jstree/3.3.4/jstree.js"></script>
	
	<!-- Twitter Bootstrap with Theme Support -->
	<link rel="stylesheet" href="/services/v3/core/theme/bootstrap.min.css">
	<script src="/services/v3/web/resources/bootstrap/3.3.7/bootstrap.min.js"></script>
	
	<!-- Custom IDE Styles -->
	<link type="text/css" rel="stylesheet" href="/services/v3/core/theme/ide.css" />
	
	<script src="../../ide/ui/angular-ui-bootstrap-modal-dialog.js"></script>
	<script src="git.js"></script>
	

</head>

<body border="1px" ng-app="workspace" ng-controller="WorkspaceController as workspace">

	<div>
		<div class="btn-group pull-right" role="group" aria-label="toolbar">
			<!-- <div class="btn-group">
			  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="New">
			    <i class="fa fa-plus"></i>
			  </button>
			  <div class="dropdown-menu">
				  <a class="dropdown-item" href="#" ng-click="workspace.open()">Clone Project</a>
				  <div class="dropdown-divider"></div>
			  </div>
			</div> -->
			<button type="button" class="btn btn-default" title="Clone Repository" ng-click="workspace.openClone()"><i class="fa fa-plus"></i></button>
			<select ng-model="workspace.selectedWs" ng-options="o as o for o in workspace.workspaces" ng-change="workspace.workspaceSelected()"
				class="dropdown btn btn-default dropdown-toggle" title="Workspaces"></select>
		</div>
	</div>
	
	<div class="workspace"></div>


	<div modal="workspace.showClone" close="workspace.cancelClone()" class="modal fade" role="dialog">
	    <div class="modal-header">
	        <h4>Clone Repository</h4>
	    </div>
	    <div class="modal-body">
	        <div class="form-group row">
				<label class="col-xs-3 col-form-label">URL</label>
				<div class="col-xs-9">
					<input class="form-control" type="text" placeholder="https://github.com/myspace/myproject.git" ng-model="workspace.clone.url" required="required">
				</div>
			</div>
	    </div>
	    <div class="modal-footer">
	      <button class="btn btn-primary" ng-click="workspace.okClone()">Clone</button>
	      <button class="btn btn-default" ng-click="workspace.cancelClone()">Cancel</button>
	    </div>
	</div>
	
</body>
</html>
